@using CarBook.DtoLayer.DTOs.TestimonialDtos
@model TestimonialDto
@{
    ViewData["Title"] = "UpdateTestimonial";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>Referans Düzenleme</h3>

<form method="post">
    <input type="hidden" asp-for="TestimonialId" />
    <div class="form-floating mb-3">

        <input type="text" asp-for="Name" class="form-control" id="floatingInput" placeholder="Ad Soyad" required />
        <label for="floatingInput">Ad Soyad</label>
    </div>
    <div class="form-floating mb-3">

        <input type="text" asp-for="Image" class="form-control" id="floatingInput" placeholder="Görsel URL" required />
        <label for="floatingInput">Görsel URL</label>
    </div>
    <div class="form-floating mb-3">

        <input type="text" asp-for="Title" class="form-control" id="floatingInput" placeholder="Ünvan" required />
        <label for="floatingInput">Ünvan</label>
    </div>

    <div class="mb-3">
        <label for="floatingDescription">Yorum</label>
        <textarea type="text" asp-for="Comment" class="form-control" id="floatingDescription" placeholder="Yorumu Yazınız" rows="10" required> </textarea>

    </div>

    <button type="submit" class="btn btn-outline-dark">Kaydet</button>
</form>