
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Carbook - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="~/carbook-master/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="~/carbook-master/css/animate.css">

    <link rel="stylesheet" href="~/carbook-master/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/carbook-master/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/carbook-master/css/magnific-popup.css">

    <link rel="stylesheet" href="~/carbook-master/css/aos.css">

    <link rel="stylesheet" href="~/carbook-master/css/ionicons.min.css">

    <link rel="stylesheet" href="~/carbook-master/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="~/carbook-master/css/jquery.timepicker.css">


    <link rel="stylesheet" href="~/carbook-master/css/flaticon.css">
    <link rel="stylesheet" href="~/carbook-master/css/icomoon.css">
    <link rel="stylesheet" href="~/carbook-master/css/style.css">

   
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>

   @await Component.InvokeAsync("_DefaultNavbar")
    <!-- END nav -->

    @RenderBody()

   @await Component.InvokeAsync("_DefaultFooter")



    <!-- loader -->
    <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00" /></svg></div>


    <script src="~/carbook-master/js/jquery.min.js"></script>
    <script src="~/carbook-master/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/carbook-master/js/popper.min.js"></script>
    <script src="~/carbook-master/js/bootstrap.min.js"></script>
    <script src="~/carbook-master/js/jquery.easing.1.3.js"></script>
    <script src="~/carbook-master/js/jquery.waypoints.min.js"></script>
    <script src="~/carbook-master/js/jquery.stellar.min.js"></script>
    <script src="~/carbook-master/js/owl.carousel.min.js"></script>
    <script src="~/carbook-master/js/jquery.magnific-popup.min.js"></script>
    <script src="~/carbook-master/js/aos.js"></script>
    <script src="~/carbook-master/js/jquery.animateNumber.min.js"></script>
    <script src="~/carbook-master/js/bootstrap-datepicker.js"></script>
    <script src="~/carbook-master/js/jquery.timepicker.min.js"></script>
    <script src="~/carbook-master/js/scrollax.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
    <script src="~/carbook-master/js/google-map.js"></script>
    <script src="~/carbook-master/js/main.js"></script>

</body>
</html>
