@using CarBook.EntityLayer.Concrete;
@model CarStatus
@{
    ViewData["Title"] = "AddCarStatus";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Araç Durum Ekleme</h1>

<br />
<form method="post">
    <label>Araç Durumu</label>
    <input type="text" asp-for="StatusName" class="form-control" style="border:1px solid #000000" placeholder="Araç Durumu" required />
    <br />
    <button class="btn btn-outline-dark">Kaydet</button>
</form>