@using CarBook.EntityLayer.Concrete;
@model List<Car>
@{
    ViewData["Title"] = "CarStatusDetails";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

@foreach (var item in Model)
{
    

<div class="container">
    <label>Araba Modeli</label>
    <input type="text" asp-for="@item.CarName" class="form-control" />
    <br />
    <label>Model Yılı</label>
    <input type="text" asp-for="@item.Year" class="form-control" />
    <br />
    <label>Vites Türü</label>
    <input type="text" asp-for="@item.Gear" class="form-control" />
    <br />
</div>
}