@using CarBook.EntityLayer.Concrete;
@model CarStatus
@{
    ViewData["Title"] = "UpdateCarStatus";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h1>Araba Durum Düzenleme</h1>

<br />
<form method="post">
    <input type="hidden" asp-for="CarStatusID" />
    <label>Durum</label>
    <input type="text" asp-for="StatusName" class="form-control" style="border:1px solid #000000" placeholder="Marka Adı" required />
    <br />
    <button class="btn btn-outline-dark">Kaydet</button>
</form>

