@using CarBook.EntityLayer.Concrete;
@model Brand
@{
    ViewData["Title"] = "AddBrand";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Yeni Marka Ekle</h1>

<form method="post">
    <div class="form-floating mb-3">
        <label for="floatingInput">Marka Adı</label>
    <input type="text" asp-for="BrandName" class="form-control" id="floatingInput" placeholder="Marka Adı" required />
      
    </div>

    <button type="submit" class="btn btn-outline-dark">Kaydet</button>
</form>