@using CarBook.DtoLayer.DTOs.BrandDtos
@model BrandDto
@{
    ViewData["Title"] = "AddBrand";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h3>Yeni Marka Ekle</h3>

<form method="post">
    <div class="form-floating mb-3">
       
    <input type="text" asp-for="BrandName" class="form-control" id="floatingBrand" placeholder="Marka Adı" required />
        <label for="floatingBrand">Marka Adı</label>
    </div>

    <button type="submit" class="btn btn-outline-dark">Kaydet</button>
</form>