@using CarBook.DtoLayer.DTOs.BrandDtos
@model BrandDto
@{
    ViewData["Title"] = "UpdateBrand";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h1>Markayı Güncelle</h1>

<form method="post">
    <input type="hidden" asp-for="BrandID" />
    <input type="text" asp-for="BrandName" class="form-control" id="floatingBrand" placeholder="Marka Adı" required />
    <label for="floatingBrand">Marka Adı</label>
    </div>
    <br />
    <button type="submit" class="btn btn-outline-dark">Kaydet</button>
</form>

