
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Admin</a></li>
                        <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a></li>
                        <li class="breadcrumb-item active">Hoş Geldiniz!</li>
                    </ol>
                </div>
                <h4 class="page-title">Hoş Geldiniz!</h4>
            </div>
        </div>
    </div>
    <!-- end page title -->
   
    <div class="row">
        
        <div class="col-xxl-3 col-sm-6">
            <a href="/Admin/Car/Index">
            <div class="card widget-flat text-bg-pink">
                <div class="card-body">
                    <div class="float-end">
                        <i class="ri-car-fill widget-icon"></i>
                    </div>
                    <h6 class="text-uppercase mt-0" title="Customers">Araçlar</h6>
                    <h2 class="my-2">9</h2>
                    <p class="mb-0">
                        
                    </p>
                </div>
            </div>
            </a>
        </div> 
      
        <!-- end col-->

        <div class="col-xxl-3 col-sm-6">
            <a href="/Admin/Category/Index">
            <div class="card widget-flat text-bg-purple">
                <div class="card-body">
                    <div class="float-end">
                        <i class="ri-list-check widget-icon"></i>
                    </div>
                    <h6 class="text-uppercase mt-0" title="Customers">Kategoriler</h6>
                    <h2 class="my-2">4</h2>
                    <p class="mb-0">
                        
                    </p>
                </div>
            </div>
            </a>
        </div> <!-- end col-->

        <div class="col-xxl-3 col-sm-6">
            <a href="/Admin/Brand/Index">
            <div class="card widget-flat text-bg-info">
                <div class="card-body">
                    <div class="float-end">
                        <i class="ri-price-tag-3-fill widget-icon"></i>
                    </div>
                    <h6 class="text-uppercase mt-0" title="Customers">Markalar</h6>
                    <h2 class="my-2">12</h2>
                    <p class="mb-0">
                        
                    </p>
                </div>
            </div>
            </a>
        </div> <!-- end col-->

        <div class="col-xxl-3 col-sm-6">
            <a href="/Admin/Review/Index">
            <div class="card widget-flat text-bg-primary">
                <div class="card-body">
                    <div class="float-end">
                        <i class=" ri-message-3-line widget-icon"></i>
                    </div>
                    <h6 class="text-uppercase mt-0" title="Customers">Yorumlar</h6>
                    <h2 class="my-2">6</h2>
                    <p class="mb-0">
                        
                    </p>
                </div>
            </div>
            </a>
        </div> <!-- end col-->
    </div>

    <div class="row">
        <div class="col-lg-8">
            <div class="card">
                <div class="card-body">
                    <div class="card-widgets">
                        <a href="javascript:;" data-bs-toggle="reload"><i class="ri-refresh-line"></i></a>
                        <a data-bs-toggle="collapse" href="#weeklysales-collapse" role="button" aria-expanded="false" aria-controls="weeklysales-collapse"><i class="ri-subtract-line"></i></a>
                        <a href="#" data-bs-toggle="remove"><i class="ri-close-line"></i></a>
                    </div>
                    <h5 class="header-title mb-0">Haftalık Gelir Raporu</h5>

                    <div id="weeklysales-collapse" class="collapse pt-3 show">
                        <div dir="ltr">
                            <div id="revenue-chart" class="apex-charts" data-colors="#3bc0c3,#1a2942,#d1d7d973"></div>
                        </div>

                        <div class="row text-center">
                            <div class="col">
                                <p class="text-muted mt-3">Bu Hafta</p>
                                <h3 class=" mb-0">
                                    <span>7506.54 ₺</span>
                                </h3>
                            </div>
                            <div class="col">
                                <p class="text-muted mt-3">Geçen Hafta</p>
                                <h3 class=" mb-0">
                                    <span>6305.25 ₺</span>
                                </h3>
                            </div>
                            <div class="col">
                                <p class="text-muted mt-3">Kiralama Oranı</p>
                                <h3 class=" mb-0">
                                    <span>43.27%</span>
                                </h3>
                            </div>
                            <div class="col">
                                <p class="text-muted mt-3">Müşteriler</p>
                                <h3 class=" mb-0">
                                    <span>347</span>
                                </h3>
                            </div>
                        </div>
                    </div>

                </div> <!-- end card-body-->
            </div> <!-- end card-->
        </div> <!-- end col-->
        <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                    <div class="card-widgets">
                        <a href="javascript:;" data-bs-toggle="reload"><i class="ri-refresh-line"></i></a>
                        <a data-bs-toggle="collapse" href="#yearly-sales-collapse" role="button" aria-expanded="false" aria-controls="yearly-sales-collapse"><i class="ri-subtract-line"></i></a>
                        <a href="#" data-bs-toggle="remove"><i class="ri-close-line"></i></a>
                    </div>
                    <h5 class="header-title mb-0">Yıllık Gelir Raporu</h5>

                    <div id="yearly-sales-collapse" class="collapse pt-3 show">
                        <div dir="ltr">
                            <div id="yearly-sales-chart" class="apex-charts" data-colors="#3bc0c3,#1a2942,#d1d7d973"></div>
                        </div>
                        <div class="row text-center">
                            <div class="col">
                                <p class="text-muted mt-3 mb-2">1. Çeyrek</p>
                                <h4 class="mb-0">256.234 ₺</h4>
                            </div>
                            <div class="col">
                                <p class="text-muted mt-3 mb-2">2. Çeyrek</p>
                                <h4 class="mb-0">242.532 ₺</h4>
                            </div>
                            <div class="col">
                                <p class="text-muted mt-3 mb-2">Tüm Yıl</p>
                                <h4 class="mb-0">502.030 ₺</h4>
                            </div>
                        </div>
                    </div>

                </div> <!-- end card-body-->
            </div> <!-- end card-->

            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-items-center">
                        <div class="flex-grow-1 overflow-hidden">
                            <h4 class="fs-22 fw-semibold">69.25%</h4>
                            <p class="text-uppercase fw-medium text-muted text-truncate mb-0"> Gelir Paylaşım Oranı</p>
                        </div>
                        <div class="flex-shrink-0">
                            <div id="us-share-chart" class="apex-charts" dir="ltr"></div>
                        </div>
                    </div>
                </div><!-- end card body -->
            </div> <!-- end card-->
        </div> <!-- end col-->

    </div>
    <!-- end row -->

    <div class="row">
        <div class="col-xl-4">
            <!-- Chat-->
          <!-- end card-->
        </div> <!-- end col-->

       @await Component.InvokeAsync("_DashboardCarList")
        <!-- end col-->
    </div>
    <!-- end row -->

</div>

