<div class="img bg-wrap text-center py-4" style="background-image: url(/sidebar-09/images/bg_1.jpg);">
    <div class="user-logo">
        <div class="img" style="background-image: url(https://e7.pngegg.com/pngimages/178/595/png-clipart-user-profile-computer-icons-login-user-avatars-monochrome-black-thumbnail.png);"></div>
        <h3>@ViewBag.name</h3>
    </div>
</div>