<a class="nav-link dropdown-toggle arrow-none nav-user" data-bs-toggle="dropdown" href="#" role="button"
   aria-haspopup="false" aria-expanded="false">
    <span class="account-user-avatar">
        <img src="@ViewBag.image" alt="user-image" width="32" class="rounded-circle">
    </span>
    <span class="d-lg-block d-none">
        <h5 class="my-0 fw-normal">
            @ViewBag.name <i class="ri-arrow-down-s-line d-none d-sm-inline-block align-middle"></i>
        </h5>
    </span>
</a>