@model Car

<div class="col-md-4 d-flex align-items-center">
    <form asp-action="FilterCars" asp-controller="Default" class="request-form ftco-animate bg-primary" method="post">
        <h2>Araç Kiralayın</h2>
        <div class="form-group">
            <label for="" class="label">Model Yılı En Az</label>
            <input type="text" class="form-control" asp-for="Year" value="@ViewData["year"]" placeholder="2019, 2020, 2021...">
        </div>
        <div class="form-group">
            <label for="name" class="label">Araç Modeli</label>
            @Html.DropDownListFor(x=>x.CarName,(IEnumerable<SelectListItem>)ViewBag.cars,"Modeli Seçin",new {@class="form-control"})
        </div>
        <div class="form-group">
            <label for="" class="label">Yakıt Türü</label>
            @Html.DropDownListFor(x => x.GasType, (IEnumerable<SelectListItem>)ViewBag.gas, "Yakıt Türünü Seçin", new { @class = "form-control"})
        </div>
        <div class="d-flex">
            <div class="form-group mr-2">
                <label for="" class="label">Kiralama Tarihi</label>
                <input type="date" class="form-control" @* id="book_pick_date" *@ placeholder="Tarih">
            </div>
            <div class="form-group ml-2">
                <label for="" class="label">Teslim Tarihi</label>
                <input type="date" class="form-control" @* id="book_off_date" *@ placeholder="Tarih">
            </div>
        </div>
        @*  <div class="form-group">
        <label for="" class="label">Kiralama Saati</label>
        <input type="text" class="form-control" id="time_pick" placeholder="Time">
        </div> *@
        <div class="form-group">
            <input type="submit" value="Hemen Kirala" class="btn btn-secondary py-3 px-4">
        </div>
    </form>
</div>