@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}

<div class="hero-wrap ftco-degree-bg" style="background-image: url('/carbook-master/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
 @await Component.InvokeAsync("_IndexSlider")
</div>

<section class="ftco-section ftco-no-pt bg-light">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-12	featured-top">
                <div class="row no-gutters">
                    @await Html.PartialAsync("FilterCars")
                    @await Component.InvokeAsync("_IndexRentCarWays")
                   
                </div>
            </div>
        </div>
    </div>
</section>

@await Component.InvokeAsync("_IndexFeaturedVehicles")

@await Component.InvokeAsync("_IndexAboutUs")

@await Component.InvokeAsync("_IndexServices")

@await Component.InvokeAsync("_IndexBecomeDriver")

@await Component.InvokeAsync("_IndexTestimonials")

@* @await Component.InvokeAsync("_IndexRecentBlog") *@

@await Component.InvokeAsync("_IndexCounter")






