<div class="leftside-menu">

    <!-- Brand Logo Light -->
    <a href="index.html" class="logo logo-light">
        <span class="logo-lg">
            <img src="~/Velonic_v6.0.0/Admin/dist/assets/images/logo.png" alt="logo">
        </span>
        <span class="logo-sm">
            <img src="~/Velonic_v6.0.0/Admin/dist/assets/images/logo-sm.png" alt="small logo">
        </span>
    </a>

    <!-- Brand Logo Dark -->
    <a href="index.html" class="logo logo-dark">
        <span class="logo-lg">
            <img src="~/Velonic_v6.0.0/Admin/dist/assets/images/logo-dark.png" alt="dark logo">
        </span>
        <span class="logo-sm">
            <img src="~/Velonic_v6.0.0/Admin/dist/assets/images/logo-sm.png" alt="small logo">
        </span>
    </a>

    <!-- Sidebar -left -->
    <div class="h-100" id="leftside-menu-container" data-simplebar>
        <!--- Sidemenu -->
        <ul class="side-nav">

            <li class="side-nav-title">Main</li>

            <li class="side-nav-item">
                <a href="/Admin/Dashboard/Index" class="side-nav-link">
                    <i class="ri-dashboard-3-fill"></i>
                  
                    <span> Dashboard </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/Admin/Car/Index" class="side-nav-link">
                    <i class="ri-car-fill"></i>
                    <span class="badge bg-info float-end"></span>
                    <span> Araçlar </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/Admin/CarStatus/Index" class="side-nav-link">
                    <i class=" ri-taxi-wifi-line"></i>
                    <span class="badge bg-info float-end"></span>
                    <span> Araç Durumları </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/Admin/Brand/Index" class="side-nav-link">
                    <i class="ri-price-tag-3-fill"></i>
                    <span class="badge bg-info float-end"></span>
                    <span> Markalar </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/Admin/CarDetail/Index" class="side-nav-link">
                    <i class="ri-profile-fill"></i>
                    <span class="badge bg-info float-end"></span>
                    <span> Araç Açıklamaları </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/Admin/CarFeature/Index" class="side-nav-link">
                    <i class=" ri-calendar-check-fill"></i>
                    <span class="badge bg-info float-end"></span>
                    <span> Araç Özellikleri </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/Admin/Category/Index" class="side-nav-link">
                    <i class="ri-list-check"></i>
                    <span class="badge bg-info float-end"></span>
                    <span> Kategoriler </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/Admin/Contact/Index" class="side-nav-link">
                    <i class="ri-phone-fill"></i>
                    <span class="badge bg-info float-end"></span>
                    <span> İletişim Bilgileri </span>
                </a>
            </li>

            <li class="side-nav-item">
                <a href="/Admin/Message/Index" class="side-nav-link">
                    <i class="ri-chat-4-fill"></i>
                    <span class="badge bg-info float-end"></span>
                    <span> Gelen Mesajlar </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/Admin/Service/Index" class="side-nav-link">
                    <i class="ri-service-fill"></i>
                    <span class="badge bg-info float-end"></span>
                    <span> Hizmetler </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/Admin/Reference/Index" class="side-nav-link">
                    <i class="ri-chat-quote-fill"></i>
                    <span class="badge bg-info float-end"></span>
                    <span> Referanslar </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="/Admin/Review/Index" class="side-nav-link">
                    <i class=" ri-message-3-line"></i>
                    <span class="badge bg-info float-end"></span>
                    <span> Araç Yorumları </span>
                </a>
            </li>

            

         

          

          

            


        </ul>
        <!--- End Sidemenu -->

        <div class="clearfix"></div>
    </div>
</div>