<div class="container">
    <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
        <div class="col-lg-8 ftco-animate">
            <div class="text w-100 text-center mb-md-5 pb-md-5">
                <h1 class="mb-4">Araç Kiralamanın Hızlı &amp; Kolay Yöntemi</h1>
                <p style="font-size: 18px;">Araç kiralamak hiç bu kadar kolay olmamıştı. Üstelik şaşırtıcı fiyatlarımızla rakiplerimizin çok önündeyiz.</p>
                <a href="https://www.youtube.com/watch?v=Fz1jh481vZA" class="icon-wrap popup-vimeo d-flex align-items-center mt-4 justify-content-center">
                    <div class="icon d-flex align-items-center justify-content-center">
                        <span class="ion-ios-play"></span>
                    </div>
                    <div class="heading-title ml-5">
                        <span>Araç kiralamanın kolay yöntemi</span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>