
@{
    ViewData["Title"] = "CarDetails";
    Layout = "~/Views/Shared/_DefaultLayout.cshtml";
}


<section class="hero-wrap hero-wrap-2 js-fullheight" style="background-image: url('/carbook-master/images/bg_3.jpg');" data-stellar-background-ratio="0.5">
		<div class="overlay"></div>
		<div class="container">
			<div class="row no-gutters slider-text js-fullheight align-items-end justify-content-start">
				<div class="col-md-9 ftco-animate pb-5">
					<p class="breadcrumbs"><span class="mr-2"><a href="index.html">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Car details <i class="ion-ios-arrow-forward"></i></span></p>
					<h1 class="mb-3 bread">Araba Detayları</h1>
				</div>
			</div>
		</div>
	</section>


	<section class="ftco-section ftco-car-details">
		<div class="container">
		@await Component.InvokeAsync("_CarMainDetails",new {id=ViewBag.id})
			<div class="row">
				<div class="col-md-12 pills">
					<div class="bd-example bd-example-tabs">
						<div class="d-flex justify-content-center">
							<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">

								<li class="nav-item">
									<a class="nav-link active" id="pills-description-tab" data-toggle="pill" href="#pills-description" role="tab" aria-controls="pills-description" aria-expanded="true">Özellikler</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-manufacturer-tab" data-toggle="pill" href="#pills-manufacturer" role="tab" aria-controls="pills-manufacturer" aria-expanded="true">Açıklama</a>
								</li>
								<li class="nav-item">
									<a class="nav-link" id="pills-review-tab" data-toggle="pill" href="#pills-review" role="tab" aria-controls="pills-review" aria-expanded="true">Yorumlar</a>
								</li>

							<li class="nav-item">
								<a class="nav-link" id="pills-categories-tab" data-toggle="pill" href="#pills-categories" role="tab" aria-controls="pills-categories" aria-expanded="true">Kategoriler</a>
							</li>
							</ul>
						</div>

						<div class="tab-content" id="pills-tabContent">
						@await Component.InvokeAsync("_CarFeatures",new {id=ViewBag.id})

							@await Component.InvokeAsync("_CarDescription",new {id=ViewBag.id})

						@await Component.InvokeAsync("_CarReviews",new {id=ViewBag.id})
						@await Component.InvokeAsync("_CarCategories")
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

@await Component.InvokeAsync("_RelatedCars")






	

